.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.conteudo {
  display: flex;
  width: 768px;
  flex-direction: column;
  align-items: start;
  margin-top: 108px;
}

.textbox {
  display: flex;
  width: 768px;
  padding: 24px 32px 32px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  background: #FFF;
  margin-top: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.subtitulo {
  color: #5F6E84;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.min {
  display: flex;
  padding: 0px 4px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-top: 24px;
}

.botoes {
  display: flex;
  flex-direction: row;
}

.imgtxt {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #F4F7F9;
  width: 512px;
  height: 288px;
  border-radius: 4px;
}

.AP {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.anterior {
  display: flex;
  color: #9245F3;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  align-items: center;
  font-weight: 600;
}

.botoes2 {
  align-items: center;
  display: flex;
  margin: 8px 0px 24px;
  height: 28px;
}

.cx {
  margin-right: 6px;
  background: #F4F7F9;
  display: flex;
  padding: 8px 12px;
  border: 1px solid #F4F7F9;
  color: #F4F7F9;
}

.cx2 {
  background: #F4F7F9;
  display: flex;
  border: 1px solid #F4F7F9;
  color: #F4F7F9;
  margin-left: 6px;
  margin-right: 502px;
  padding: 8px 12px;
}

.titulo {
  color: #333;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: 4px;
}