.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  margin-top: 108px;
  gap: 24px
}

.container_titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 768px;
}

.container_titulo h1 {
  margin: 4px 0px 8px 0px;
  color: #333;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.nota {
  display: flex;
  padding: 12px 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #FFF;
}

.nota p {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  backdrop-filter: blur(23.507234573364258px);
  display: flex;
  padding: 9.403px;
  justify-content: center;
  align-items: center;
  gap: 9.403px;
  border-radius: 9.403px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), #5F6E84;
}

.nota ul {
  color: #5F6E84;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.nota .nota_topico {
  list-style: inside;
  color: #5F6E84;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.ntf {
  color: #9245F3;
}

.questionario {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-self: stretch;
  border-radius: 8px;
  background: #FFF;
  gap: 64px;
  margin-bottom: 60px;
}

.questao1,
.questao2,
.questao3,
.questao4 {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.questao1 p,
.questao2 p,
.questao3 p,
.questao4 p {
  display: flex;
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  gap: 10px;
  align-items: center;
}

.one_point {
  padding: 4px 8px;
  border-radius: 2px;
  background: #F4F7F9;
  color: #5F6E84;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid #9245F3;
  border-radius: 100%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-image: radial-gradient(#9245F3 45%, white 55%);
}

.opcoes {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #5F6E84;
  text-align: justify;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid #9245F3;
  border-radius: 15%;
}


input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #9245F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

#texto {
  width: 823px;
  height: 89px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f8f8f8;
  resize: none;
  border: 1px solid #CBD4E6;
}

.questao3 {
  display: flex;
  align-items: end;
}

.checar_respostas {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #9245F3;
  justify-self: end;
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.checar_respostas-contaier {
  display: flex;
  width: 100%;
  justify-content: end;
}