.video {
  padding-top: 60px;
  background-color: rgba(51, 51, 51, 1);
}

.player {
  display: block;
  margin: 0 auto;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.conteudo_2 {
  display: flex;
  width: 1128px;
  padding: 0px 180px;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(244, 247, 249, 1);
}

.Descrição {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid #9245F3;
  background: #EDEEF3;
  margin-right: 6px;
  font-weight: 500;
}

.Transcrição {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid #D8D8D8;
  background: #FFF;
  margin-left: 6px;
  margin-right: 502px;
  font-weight: 500;
}

.botoes {
  align-items: center;
  display: flex;
  margin: 24px 0px 8px;
}

.iconv {
  margin-top: 24px;
  margin-bottom: 4px;
}

.ativo {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.descEst {
  display: flex;
  width: 768px;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.titulo {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.expEst {
  font-weight: 400;
  text-align: justify;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.container_titulo {
  display: flex;
  flex-direction: row;
}

.subtitulo {
  align-items: center;
  display: flex;
  color: #5F6E84;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.ponto {
  margin: 0 8px;
  width: 2px;
  height: 2px;
  background-color: #5F6E84;
  border-radius: 100%;
}

.cx {
  margin-right: 6px;
  background: #F4F7F9;
  display: flex;
  padding: 8px 12px;
  border: 1px solid #F4F7F9;
  color: #F4F7F9;
}

.cx2 {
  background: #F4F7F9;
  display: flex;
  border: 1px solid #F4F7F9;
  color: #F4F7F9;
  margin-left: 6px;
  margin-right: 502px;
  padding: 8px 12px;
}

.botoes2 {
  align-items: center;
  display: flex;
  margin: 8px 0px 24px;
  height: 28px;
}

.AP {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.anterior {
  display: flex;
  color: #9245F3;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  align-items: center;
  font-weight: 600;
}

.intro {
  font-weight: 600;
}